#footer
  .container
    .row.footer-first-row
      .col-xs-12.text-center
        %p
          %small
            © #{Time.now.year} - Yourself!
            %br/
            Assembled with #{link_to "Spark", "https://github.com/Anadea/spark"}
